/*
Color scheme: reforma-final-2 + some modifications
https://coolors.co/000000-003d45-dd7d4d-edd4aa-ffffff
*/

:root {
	--color1: #171717; --color1-shadow: rgba(232,232,232,0.1); --color1-shadow-hover: rgba(232,232,232,0.3);
	--color2: #003D45; --color2a: #00383F;
	--color3: #DD7D4D; --color3a: #C97246;
	--color4: #EDD4AA;
	--color5: #E8E8E8;
}

.body {
	background-color: var(--color1);
	color: var(--color3);
	font-family: helvetica;
	padding-bottom: 50px;
}

.header {
	background-color: var(--color2a);
	color: var(--color5);

	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 25px;
	margin-bottom: 25px;

	text-align: center;
}

.flex-cards {
	display: inline-flex;
	flex-flow: row wrap;
	
	flex-basis: 100%;

}

.card {
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 var(--color1-shadow);
	max-width: 300px;
	margin: 5px;
	text-align: center;
	font-family: arial;
	background-color: var(--color2);
	padding-bottom: 45px;
	position: relative;
	align-self: flex-start;
}

.price {
	color: var(--color4);
	font-size: 22px;
}

.card__button {
	border: none;
	outline: 0;
	padding: 12px;
	
	text-align: center;
	cursor: pointer;
	width: 50%;
	font-size: 18px;

	position: absolute;
	bottom: 0;
	
}

.card__compare-button {
	color: var(--color3);;
	background-color: var(--color5);

	left: 0;
	border-bottom-left-radius: 12px;
}

.card__buy-button {
	color: var(--color5);;
	background-color: var(--color3);

	right: 0;
	border-bottom-right-radius: 12px;
}

.card:hover {
	background-color: var(--color2a);
	box-shadow: 0 8px 16px 0 var(--color1-shadow-hover);
}

.card__button:hover {
	opacity: 0.9;
}

img {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.section {
	background-color: var(--color2);
	
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	
	margin-top: 25px;
	margin-bottom: 25px;

	border-radius: 12px;
}

.section-header {
	font-family: helvetica header;
	color: var(--color4);
}

.section__name-input {
	border-radius: 12px;
	width: 200px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 10px;
}

.section__question-button {
	border-radius: 12px;
	background-color: var(--color3);
	color: var(--color5);
	padding-left: 6px;
	padding-right: 6px;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;

	margin-top: 37.5px;
	background-color: var(--color2a);
	text-align: center;
}

.link {
	color: inherit;
}

.link-current {
	text-decoration: none;
}